@import './theme.less';

@prefix-uploader: ~'@{eeeditor-prefix-cls}-image-uploader';
@prefix: ~'@{eeeditor-prefix-cls}-image';

.@{prefix-uploader}-layout {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

.@{prefix-uploader}-img {
  display: block;
  max-width: 100%;
  opacity: 0.3;
}

.@{prefix-uploader}-status {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.@{prefix-uploader}-status-text {
  font-size: @image-status-text-size;
  color: @image-status-text-color;
}

.@{prefix-uploader}-error {
  .@{prefix-uploader}-status-text {
    color: @image-upload-error-color;
  }
}

.@{prefix-uploader}-retry {
  font-size: @image-retry-text-size;
}

.@{prefix-uploader}-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: @image-upload-progress-color;
  &.@{prefix-uploader}-error {
    background-color: @image-upload-error-color;
  }
}

.@{prefix-uploader}-loading-bar {
  display: block;
  position: relative;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
  animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
}

@-webkit-keyframes LoadingBarForward {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes LoadingBarForward {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
