@import './theme.less';

@prefix: ~'@{eeeditor-prefix-cls}-image';

.@{prefix}-layout {
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

.@{prefix}-image {
  display: block;
  max-width: 100%;

  &.isFocused {
    box-shadow: 0 0 0 1px @focusable-focused-color;
  }
  &.isUploading {
    opacity: 0.3;
  }
}

.@{prefix}-status {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.@{prefix}-status-text {
  font-size: @image-status-text-size;
  color: @image-status-text-color;
  &.isError {
    color: @image-upload-error-color;
  }
}

.@{prefix}-retry {
  font-size: @image-retry-text-size;
}

.@{prefix}-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: @image-upload-progress-color;
  &.isError {
    background-color: @image-upload-error-color;
  }
}

.@{prefix}-loading-bar {
  display: block;
  position: relative;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
  animation: LoadingBarForward 1s ease-in-out 0.8s infinite;
}

@-webkit-keyframes LoadingBarForward {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes LoadingBarForward {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
