@import './theme.less';

.@{eeeditor-prefix-cls} {
  position: relative;
  color: @editor-text-color;
  font-size: @editor-font-size;
  outline: none;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 0;
  color: @editor-placeholder-color;
  line-height: @editor-line-height;
  transition: opacity 0.2s;
}
.public-DraftEditorPlaceholder-hasFocus {
  opacity: 0 !important;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}

.blockquote,
.paragraph,
.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin-bottom: @editor-block-gap;
  line-height: @editor-line-height;
}

.blockquote {
  padding: @editor-blockquote-padding;
  color: @editor-blockquote-color;
  font-size: @editor-blockquote-font-size;
  border-left: @editor-blockquote-border-left;
  opacity: @editor-blockquote-opacity;
}

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  padding: 0;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
  margin: 0 0 0 @editor-list-item-margin;
  padding: 0 0 0 @editor-list-item-padding;
  &.public-DraftStyleDefault-depth1 {
    margin: 0 0 0 @editor-list-item-margin-depth1;
  }

  &.public-DraftStyleDefault-depth2 {
    margin: 0 0 0 @editor-list-item-margin-depth2;
  }

  &.public-DraftStyleDefault-depth3 {
    margin: 0 0 0 @editor-list-item-margin-depth3;
  }
}

.public-DraftStyleDefault-unorderedListItem {
  list-style-type: disc;
  &.public-DraftStyleDefault-depth0 {
    list-style-type: disc;
  }
  &.public-DraftStyleDefault-depth1 {
    list-style-type: circle;
  }
  &.public-DraftStyleDefault-depth2,
  &.public-DraftStyleDefault-depth3 {
    list-style-type: square;
  }
}

.public-DraftStyleDefault-reset {
  counter-reset: ol0;
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
  counter-reset: ol1;
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
  counter-reset: ol2;
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
  counter-reset: ol3;
}

.public-DraftStyleDefault-orderedListItem {
  position: relative;
  list-style-type: none;
}
.public-DraftStyleDefault-orderedListItem:before {
  content: counter(ol0) '. ';
  counter-increment: ol0;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
  content: counter(ol1, lower-alpha) '. ';
  counter-increment: ol1;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
  content: counter(ol2, lower-roman) '. ';
  counter-increment: ol2;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
  content: counter(ol3) '. ';
  counter-increment: ol3;
}

.public-DraftStyleDefault-orderedListItem:before {
  position: absolute;
  left: -34px;
  width: 30px;
  text-align: right;
}

.header-one,
.header-two,
.header-three,
.header-four,
.header-five,
.header-six {
  color: @editor-text-color;
}

.header-one {
  font-size: @editor-h1-font-size;
}

.header-two {
  font-size: @editor-h2-font-size;
}

.header-three {
  font-size: @editor-h3-font-size;
}

.header-four {
  font-size: @editor-h4-font-size;
}

.header-five {
  font-size: @editor-h5-font-size;
}

.header-six {
  font-size: @editor-h6-font-size;
}

.@{eeeditor-prefix-cls}-rtl {
  direction: rtl;

  .public-DraftStyleDefault-unorderedListItem,
  .public-DraftStyleDefault-orderedListItem {
    margin: 0 @editor-list-item-margin 0 0;
    padding: 0 @editor-list-item-padding 0 0;
    &.public-DraftStyleDefault-depth1 {
      margin: 0 @editor-list-item-margin-depth1 0 0;
    }

    &.public-DraftStyleDefault-depth2 {
      margin: 0 @editor-list-item-margin-depth2 0 0;
    }

    &.public-DraftStyleDefault-depth3 {
      margin: 0 @editor-list-item-margin-depth3 0 0;
    }
  }

  .public-DraftStyleDefault-orderedListItem:before {
    right: -34px;
    width: 30px;
    text-align: left;
  }
}

// 由于 buttons style 被应用于多个 package ，所以把样式放到 @eeeditor/editor
.@{eeeditor-prefix-cls}-btn-wrapper {
  display: inline-block;
  vertical-align: top;
}

.@{eeeditor-prefix-cls}-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @button-size;
  height: @button-size;
  color: @button-text-color;
  font-size: @button-icon-size;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: @button-hover-bg;
  }

  &.@{eeeditor-prefix-cls}-btn-active {
    color: @button-text-active-color;
  }

  &.@{eeeditor-prefix-cls}-btn-disabled {
    color: @button-text-disabled-color;
    cursor: not-allowed;
    &:hover {
      background: none;
    }
  }
}

.@{eeeditor-prefix-cls}-tip-wrapper {
  .ant-tooltip-inner {
    min-width: 0;
    min-height: 0;
    padding: 4px 6px;
    background-color: @button-tip-background-color;
    border-radius: @button-tip-radius;
  }
  .ant-tooltip-arrow-content {
    background-color: @button-tip-background-color;
  }
}

.@{eeeditor-prefix-cls}-tip {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: @button-tip-color;
  font-size: @button-tip-font-size;

  &.@{eeeditor-prefix-cls}-tip-reverse {
    flex-direction: column-reverse;
  }
}

.@{eeeditor-prefix-cls}-tip-name {
  display: block;
  text-align: center;
}

.@{eeeditor-prefix-cls}-tip-shortcut {
  display: block;
  text-align: center;
  opacity: 0.6;
}

// antd popover overlayClassName
.@{eeeditor-prefix-cls}-popover-wrapper {
  .ant-popover-inner-content {
    padding: @popover-inner-padding;
  }
}

.@{eeeditor-prefix-cls}-popover {
  position: absolute;
  z-index: @popover-zindex;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 @popover-trigger-distance;
  color: @editor-text-color;
  font-size: @popover-font-size;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.@{eeeditor-prefix-cls}-popover-arrow {
  position: absolute;
  display: block;
  // style bug fix
  // width: sqrt(@popover-arrow-size * @popover-arrow-size * 2);
  // height: sqrt(@popover-arrow-size * @popover-arrow-size * 2);
  width: @popover-arrow-size + 2px;
  height: @popover-arrow-size + 2px;
  background: transparent;
  border-style: solid;
  // style bug fix
  // border-width: (sqrt(@popover-arrow-size * @popover-arrow-size * 2) / 2);
  border-width: (@popover-arrow-size + 2) / 2;
  transform: rotate(45deg);
}

.@{eeeditor-prefix-cls}-popover-arrow-top {
  bottom: @popover-trigger-distance - @popover-arrow-size + 2.2px;
  left: 50%;
  border-top-color: transparent;
  border-right-color: @popover-background;
  border-bottom-color: @popover-background;
  border-left-color: transparent;
  box-shadow: 3px 3px 7px fade(@black, 7%);
  transform: translateX(-50%) rotate(45deg);
}

.@{eeeditor-prefix-cls}-popover-inner {
  padding: @popover-inner-padding;
  background-color: @popover-background;
  background-clip: padding-box;
  border-radius: @popover-border-radius;
  box-shadow: @popover-box-shadow;
  box-shadow: ~'0 0 8px @{popover-box-shadow} \9';
}

// todo
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ */
  .@{eeeditor-prefix-cls}-popover-inner {
    box-shadow: @popover-box-shadow;
  }
}

.@{eeeditor-prefix-cls}-message {
  font-size: @message-font-size;
  .anticon {
    font-size: @message-icon-size;
  }
}
