@import './theme.less';

.@{eeeditor-prefix-cls} {
  position: relative;
  color: @editor-text-color;
  font-size: 16px;

  .public-DraftEditorPlaceholder-root {
    position: absolute;
    z-index: 0;
    color: @editor-placeholder-color;
    line-height: @editor-line-height;
    transition: opacity 0.2s;
  }
  .public-DraftEditorPlaceholder-hasFocus {
    opacity: 0 !important;
  }

  .DraftEditor-editorContainer {
    position: relative;
    z-index: 1;
  }

  .blockquote,
  .paragraph,
  .public-DraftStyleDefault-ul,
  .public-DraftStyleDefault-ol {
    margin-bottom: @editor-paragragh-gap;
    line-height: @editor-line-height;
  }

  .header-one,
  .header-two,
  .header-three,
  .header-four,
  .header-five,
  .header-fix {
    color: @editor-text-color;
  }
}

.@{eeeditor-prefix-cls}-rtl {
  direction: rtl;
}
