@import '~antd/es/style/themes/default.less';

@eeeditor-prefix-cls: eee;

@editor-text-color: @text-color;
@editor-font-size: @font-size-base;
@editor-placeholder-color: @input-placeholder-color;
@editor-line-height: @line-height-base;
@editor-block-gap: 1em;

@editor-blockquote-padding: 0 0 0 0.6em;
@editor-blockquote-border-left: 4px solid hsla(0, 0%, 39.2%, 0.2);
@editor-blockquote-opacity: 0.65;
@editor-blockquote-color: inherit;
@editor-blockquote-font-size: inherit;

@editor-list-item-margin: 20px;
@editor-list-item-padding: 4px;

@editor-h1-font-size: 1.6em;
@editor-h2-font-size: 1.4em;
@editor-h3-font-size: 1.3em;
@editor-h4-font-size: 1.2em;
@editor-h5-font-size: 1.15em;
@editor-h6-font-size: 1.1em;

// buttons
@buttons-size: 40px;
@buttons-text-color: @text-color;
@buttons-icon-size: 18px;
@buttons-hover-bg: @item-hover-bg;
@buttons-text-active-color: @primary-color;
@buttons-text-disabled-color: @disabled-color;
@buttons-tip-color: @text-color-inverse;
@buttons-tip-font-size: @font-size-sm;
@buttons-tip-background-color: rgb(40, 40, 40);
@buttons-tip-radius: 4px;
