@import '~antd/es/style/themes/default.less';

@eeeditor-prefix-cls: eee;

@editor-placeholder-color: @input-placeholder-color;

@editor-text-color: @text-color;
@editor-line-height: @line-height-base;
@editor-paragragh-gap: 0.8em;
