@import './theme.less';

@selector-btn-prefix: ~'@{eeeditor-prefix-cls}-selector-btn';

@prefix: ~'@{eeeditor-prefix-cls}-static-toolbar';

.@{prefix} {
  box-sizing: border-box;
  height: @static-toolbar-height;
  background-color: @static-toolbar-bg-color;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .@{eeeditor-prefix-cls}-btn {
    width: @static-toolbar-btn-size;
    height: @static-toolbar-btn-size;
    color: @static-toolbar-btn-color;
    font-size: @static-toolbar-btn-icon-size;
    &:hover {
      background-color: @static-toolbar-btn-hover-bg;
    }
    &.@{eeeditor-prefix-cls}-btn-active {
      color: @static-toolbar-btn-active-color;
    }
    &.@{eeeditor-prefix-cls}-btn-disabled {
      color: @static-toolbar-btn-disabled-color;
    }
  }
}

.@{selector-btn-prefix}-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.@{selector-btn-prefix} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @static-toolbar-btn-size;
  height: @static-toolbar-btn-size;
  color: @static-toolbar-btn-color;
  font-size: @static-toolbar-btn-icon-size;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: @static-toolbar-btn-hover-bg;
  }
  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: @static-toolbar-btn-color;
    transform: rotate(-45deg);
    content: '';
  }
  &.@{selector-btn-prefix}-active {
    color: @static-toolbar-btn-active-color;
  }
  &.@{selector-btn-prefix}-disabled {
    color: @static-toolbar-btn-disabled-color;
    cursor: not-allowed;
    &:hover {
      background: none;
    }
    &:before {
      border-top-color: @static-toolbar-btn-disabled-color;
    }
  }
  &.@{selector-btn-prefix}-show {
    &:before {
      display: none;
    }
  }
}

.@{selector-btn-prefix}-options {
  position: absolute;
  top: @static-toolbar-btn-size;
  left: 0;
  width: 100%;
  background: @static-toolbar-bg-color;
}

.@{selector-btn-prefix}-options-hidden {
  display: none;
}

.@{prefix}-separator {
  position: relative;
  display: inline-block;
  width: 1px;
  height: @static-toolbar-separator-size;
  margin: 0 10px;
  vertical-align: top;
  &:after {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 20px;
    border-left: 1px solid @static-toolbar-separator-color;
    transform: scaleX(0.5);
    transform-origin: 0 0;
    content: '';
  }
}
