@import './theme.less';

.@{eeeditor-prefix-cls}-static-toolbar {
  box-sizing: border-box;
  height: 40px;
  background-color: @static-toolbar-bg-color;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.@{eeeditor-prefix-cls}-selector-btn-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.@{eeeditor-prefix-cls}-selector-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @static-toolbar-btn-size;
  height: @static-toolbar-btn-size;
  color: @text-color;
  font-size: @static-toolbar-icon-size;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: @item-hover-bg;
  }
  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: @text-color;
    transform: rotate(-45deg);
    content: '';
  }
  &.@{eeeditor-prefix-cls}-selector-btn-active {
    color: @primary-color;
  }
  &.@{eeeditor-prefix-cls}-selector-btn-disabled {
    color: @disabled-color;
    cursor: not-allowed;
    &:hover {
      background: none;
    }
    &:before {
      border-top-color: @disabled-color;
    }
  }
  &.@{eeeditor-prefix-cls}-selector-btn-show {
    &:before {
      display: none;
    }
  }
}

.@{eeeditor-prefix-cls}-selector-btn-options {
  position: absolute;
  top: @static-toolbar-btn-size;
  left: 0;
  width: 100%;
  background: @static-toolbar-bg-color;
}

.@{eeeditor-prefix-cls}-selector-btn-options-hidden {
  display: none;
}

.@{eeeditor-prefix-cls}-separator {
  position: relative;
  display: inline-block;
  width: 1px;
  height: @static-toolbar-separator-size;
  margin: 0 10px;
  vertical-align: top;
  &:after {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 20px;
    border-left: 1px solid @statuc-toolbar-separator-color;
    transform: scaleX(0.5);
    transform-origin: 0 0;
    content: '';
  }
}
