@import '~antd/es/style/themes/default.less';

@eeeditor-prefix-cls: eee;

@static-toolbar-bg-color: #fff;
@static-toolbar-height: 40px;
@static-toolbar-btn-size: 40px;
@static-toolbar-icon-size: 18px;
