@import '~antd/es/style/themes/default.less';
@import '~@eeeditor/editor/es/style/theme.less';

@inline-toolbar-height: @button-size;
@inline-toolbar-bg-color: @popover-bg;
@inline-toolbar-zindex: @zindex-popover;
