@import './theme.less';

@prefix: ~'@{eeeditor-prefix-cls}-side-toolbar';

.@{prefix}-wrapper {
  position: absolute;
  z-index: @side-toolbar-zindex;
  display: flex;
  box-sizing: border-box;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.@{prefix}-hidden {
  visibility: hidden;
}

.@{prefix}-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @side-toolbar-btn-size;
  height: @side-toolbar-btn-size;
  color: @side-toolbar-btn-color;
  font-size: @side-toolbar-icon-size;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: @side-toolbar-btn-hover-bg;
  }

  & > svg {
    transition: transform 0.2s;
  }
}

.@{prefix}-btns {
  height: @side-toolbar-btn-size;
  overflow: hidden;
  animation-duration: 0.2s;
  animation-direction: normal;
  animation-fill-mode: both;
  .@{eeeditor-prefix-cls}-btn {
    width: @side-toolbar-btn-size;
    height: @side-toolbar-btn-size;
    color: @side-toolbar-btn-color;
    font-size: @side-toolbar-btn-icon-size;
    &:hover {
      background-color: @side-toolbar-btn-hover-bg;
    }
    &.@{eeeditor-prefix-cls}-btn-active {
      color: @side-toolbar-btn-active-color;
    }
    &.@{eeeditor-prefix-cls}-btn-disabled {
      color: @side-toolbar-btn-disabled-color;
    }
  }
}

.@{prefix}-expanded {
  .@{prefix}-icon > svg {
    transform: rotate(45deg);
  }
  .@{prefix}-btns {
    animation-name: show-buttons;
  }
}

.@{prefix}-unexpanded {
  .@{prefix}-btns {
    animation-name: hide-buttons;
  }
}

.@{prefix}-rtl {
  &.@{prefix}-expanded {
    .@{prefix}-icon > svg {
      transform: rotate(-45deg);
    }
    .@{prefix}-btns {
      animation-name: show-buttons-rtl;
    }
  }

  &.@{prefix}-unexpanded {
    .@{prefix}-btns {
      animation-name: hide-buttons-rtl;
    }
  }
}

@-moz-keyframes show-buttons {
  0% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes show-buttons {
  0% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-o-keyframes show-buttons {
  0% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes show-buttons {
  0% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes hide-buttons {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes hide-buttons {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }
}

@-o-keyframes hide-buttons {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }
}

@keyframes hide-buttons {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(-10px, 0, 0);
    opacity: 0;
  }
}

@-moz-keyframes show-buttons-rtl {
  0% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes show-buttons-rtl {
  0% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-o-keyframes show-buttons-rtl {
  0% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes show-buttons-rtl {
  0% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }

  100% {
    width: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-moz-keyframes hide-buttons-rtl {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes hide-buttons-rtl {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }
}

@-o-keyframes hide-buttons-rtl {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }
}

@keyframes hide-buttons-rtl {
  0% {
    width: auto;
    transform: translate3d(0px, 0, 0);
    opacity: 1;
  }

  100% {
    width: 0;
    transform: translate3d(10px, 0, 0);
    opacity: 0;
  }
}
