@import './theme.less';

@prefix: ~'@{eeeditor-prefix-cls}-side-toolbar';

.@{prefix}-wrapper {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: @side-toolbar-zindex;
}

.@{prefix}-rtl {

}

.@{prefix}-hidden {
  // display: none;
}

.@{prefix}-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;    
  width: @side-toolbar-btn-size;
  height: @side-toolbar-btn-size;
  color: @side-toolbar-btn-color;
  font-size: @side-toolbar-btn-icon-size;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: @side-toolbar-btn-hover-bg;
  }
}

.@{prefix}-expanded {
  
}