@import './theme.less';

.pagebreak {
  padding: @divider-gap 0;
  margin: 0 0 @editor-block-gap;
}

.@{eeeditor-prefix-cls}-divider {
  display: block;
  margin: 0 auto;
  width: @divider-length;
  border: none;
  border-top: 1px solid @divider-color;
}
