:root {
  --primary-color: #1890ff;
  --body-background-color: #ffffff;
  --text-color: fade(#000000, 65%);
  --text-color-secondary: fade(#000000, 45%);
  --text-color-primary: #68889f;
  --text-color-dark: #2b4559;
  --border-default-color: hsv(0, 0, 85%);
  --hover-background-color: #e8edf0;
  --sidebar-background-color: #e8edf0;
  --sidebar-tools-icon-bg-color: #ffffff;
  --sidebar-tools-icon-text-color: #68889f;
  --sidebar-tools-icon-hover-bg-color: #d6e0ea;
}

[saved-theme='dark'] {
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Microsoft Yahei UI, Arial, Helvetica, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 48px;
  background-color: var(--body-background-color);
  color: var(--text-color);
}
