@import './theme.less';

.@{eeeditor-prefix-cls}-link-popover {
  display: flex;
  align-items: center;
  font-size: @popover-font-size;
}

.@{eeeditor-prefix-cls}-link-edit-popover {
  position: absolute;
  .ant-form-item {
    font-size: @popover-font-size;
    margin-bottom: 0;
    padding: 3px;
  }
  .ant-form-item-label > label {
    height: @popover-line-height;
    font-size: @popover-font-size;
  }
  .ant-form-item-control-input {
    min-height: @popover-line-height;
  }
  .ant-input {
    font-size: @popover-font-size;
  }
}

.@{eeeditor-prefix-cls}-link-url {
  width: 195px;
  margin: 0 15px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: @anchor-text-color;
}

.@{eeeditor-prefix-cls}-link-popover-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @popover-line-height;
  height: @popover-line-height;
  color: @button-text-color;
  font-size: @popover-button-icon-size;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: @button-hover-bg;
  }
}
