@import './theme.less';

.@{eeeditor-prefix-cls}-popover {
  display: flex;
  align-items: center;

  font-size: 12px;
}

.@{eeeditor-prefix-cls}-link-url {
  width: 195px;
  margin: 0 15px 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: @anchor-text-color;
}

.@{eeeditor-prefix-cls}-popover-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @popover-button-size;
  height: @popover-button-size;
  color: @button-text-color;
  font-size: @popover-button-icon-size;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
  &:hover {
    background-color: @button-hover-bg;
  }
}
